<% if session[:user] %>
<p> "You are logged in" </p>
<form class="" action="/logout" method="post">
  <button type="submit" name="logout">Logout</button>
</form>
<form class="" action="/delete" method="post">
  <button type="submit" name="delete">Delete</button>
</form>
<form class="" action="" method="post">
  <button type="button" name="newpost">Make a post</button>
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="maintext" placeholder="Enter your text here.">
  <input type="text" name="user_id" value="">
  <input type="text" name="creator" value="">
</form>
<% end %>
