<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Blog Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img class="logo" src="https://www.freelogodesign.org/file/app/client/thumb/e79e58bf-3a85-4189-8ef7-4e93e1ec7d92_200x200.png?1562786563974" alt=""></li>
        <li><a href="/">home</a></li>
        <li><a href="Blog">Blog</a></li>
        <li id="login"><a href="login">login</a></li>
        <li id="signup"><a href="signup">signup</a></li>
      </ul>
    </nav>
    <h1>Slapps</h1>
    <%= yield %>
    <% if session[:user] %>
    <p> "You are logged in" </p>
    <% end %>
    <footer>Made by The People's Champ COPYRIGHT2019</footer>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
