<form action="login" method="post">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="Password" placeholder="Password">
  <input type="submit" name="" value="login">
</form>
