nav {
  background-color: rgb(49, 107, 159);
}

ul {
  text-align: center;
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.logo {
  width: auto;
  height: auto;
  max-height: 72px;
  max-width: 100px;
}

#signup {
  float: right;
}

#login {
  float: right;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}
